In [1]:
import pandas as pd
import json
from collections import Counter


def combine_dfs(df1, df2, df3, df4, df5, df6) -> pd.DataFrame:
    df1 = df1.dropna(how="all")
    df2 = df2.dropna(how="all")
    df3 = df3.dropna(how="all")
    df4 = df4.dropna(how="all")
    df5 = df5.dropna(how="all")
    df6 = df6.dropna(how="all")
    df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)
    return df


def get_authors_country_counts(df: pd.DataFrame) -> pd.DataFrame:
    """
    Generates a DataFrame with the counts of authors' countries (excluding 'BR')
    from the 'authorships' column of the input DataFrame.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame containing an 'authorships' column.
        
    Returns:
        pd.DataFrame: A DataFrame with two columns:
                      'authors_country' and 'count'.
    """
    country_counter = Counter()
    
    for _, row in df.iterrows():
        # Parse the JSON string from the authorships column
        try:
            authors_list = json.loads(row['authorships'])
        except json.JSONDecodeError:
            continue  # skip rows that cannot be parsed
        
        # Loop through each author in the list
        for author in authors_list:
            # Retrieve the list of countries for this author
            countries = author.get("countries", [])
            for country in countries:
                # Exclude 'BR' as instructed
                if country != "BR":
                    country_counter[country] += 1
                    
    # Convert the counter to a DataFrame
    result_df = pd.DataFrame(list(country_counter.items()), columns=['authors_country', 'count'])
    result_df.sort_values(by='count', ascending=False, inplace=True)
    
    return result_df

In [2]:
DATA_PATH = "../data/csv/openalex/br_publications_"

df_2019 = pd.read_csv(DATA_PATH + "2019.csv")
df_2020 = pd.read_csv(DATA_PATH + "2020.csv")
df_2021 = pd.read_csv(DATA_PATH + "2021.csv")
df_2022 = pd.read_csv(DATA_PATH + "2022.csv")
df_2023 = pd.read_csv(DATA_PATH + "2023.csv")
df_2024 = pd.read_csv(DATA_PATH + "2024.csv")

br_publications_df = combine_dfs(df_2019, df_2020, df_2021, df_2022, df_2023, df_2024)

In [3]:
get_authors_country_counts(br_publications_df)

    authors_country  count
4                US   6224
1                PT   2708
7                ES   1986
19               GB   1748
6                FR   1689
..              ...    ...
120              TZ      1
115              RE      1
67               SY      1
95               UZ      1
148              BN      1

[149 rows x 2 columns]